<!DOCTYPE html>
<html>
	<head>
		<title>hello</title>
		<script type="text/javascript" src='/static/js/libs/jquery-1.10.0.js'></script>
		<script type="text/javascript">
		$(document).ready(function(){
		$.getJSON('/message_board/message_imformation/?format=json', function(json){
		var message = {};
		$('#message_json').data('message_json',json);
		});
		});
		$('#message_json').ready(function(){
		$('#refresh_message').click(function(){
		var json = $('#message_json').data('message_json');
		$("#message_main").empty();
		var divshow = $("#message_main");
		for (var i=0;i<6;i++){
			// json[message].visitor_name
			//Math.floor(Math.random()*10+1)
		document.getElementById("message_main").innerHTML= json[Math.floor(Math.random()*json.length-1)].visitor_name + '<br />'+ document.getElementById("message_main").innerHTML;
		}
		});
		});
		</script>
	</head>
	<body>
		HELLO WORLD
		<div class="hidden" id="message_json"></div>
		<div id = 'message_main'>1</div>
		<p id="refresh_message">click here</p>
	</body>
</html>